/* Mobile View */
@media (min-width: 300px) and (max-width: 991px){
    .mainAppWindow{
        width: 100vw;
        display: flex;
        flex-direction: column;
    }
    .fullScreenContainer{
        width: 100vw;
        height: 100vh;
        display: flex;
        background-color: rgb(36, 36, 36);
        align-items: center;
        flex-direction: column;
    }
    .doubleInputCont{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        height: 16%;
    }
    .buttonInsideText{
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 18px;
        letter-spacing: 1px;
    }
  }