/* Mobile View */
@media (min-width: 300px) and (max-width: 991px){


    .navBarTopPadding{
        height: 8vh;
    }
    .navOptionsCont{
        z-index: 9;
        width: 80%;
        height: 100vh;
        background-color: rgb(36, 36, 36);
        color: white;
        display: flex;
        flex-direction: column;
    }
    .navLinkOption:hover{
        color: #fed136;
        cursor: pointer;
    }
    .heroButton:hover{
        background-color: #a88d2cd8;
        cursor: pointer;
    }
    .hideNavOptionsCont{
        display: none;
    }
    .hideMobileIconCont{
        display: none;
    }
    .showMobileIconCont{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        width: 40px;
        height: 40px;
        background-color: #fed136;
        color: black;
        font-size: 25px;
      }
      .showNavOptionsCont{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 70%;
        color: white;
      }
      .navLinkOption{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        padding-right: 15px;
        color: #fff;
      }

      /* Container Styling */
    .mainDashCont{
        position: fixed;
        top: 0;
        width: 100%;
    }
    .mainDashNavCont{

        width: 100%;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 10vh;
        padding: 3%;
        color: white;
        border: none;
        background-color: rgb(36, 36, 36);
        align-items: center;
        text-align: center;
        justify-content: space-between;
    }
    .mapPageBottomContainer{
        
        background: linear-gradient(166deg, rgba(67,206,162,1) 0%, rgba(37,133,215,1) 70%);
        height: 50vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3% 5%;
    }
    .mapPageBottomContainerWhiteBox{
        height: 100%;
        width: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 4%;
        justify-content: space-evenly;
        overflow: auto;
    }
    .rowContainerSpaceBetween{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .labeledInputBox{
        margin-bottom: 2%;
    }
    .dropdownBoxContainer{
        width: 48%;
        margin-bottom: 4%;
    }


    /* Header and Paragraph Styling */
    .dashLogoH1{
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        letter-spacing: 3px;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        margin: none;
    }
    .mapPageContainerHeader{
        font-family: 'Railway', sans-serif;
        font-weight: 700;
        letter-spacing: 3px;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        color: black;
        margin: none;
    }

}